[Unit]
Description=Rover Safe Auto-Extraction System
After=multi-user.target

[Service]
Type=idle
User=innovizta
WorkingDirectory=/home/innovizta/arm_ws/src/arm_pkg/arm_pkg
Environment="LOGNAME=innovizta"
Environment="USER=innovizta"
Environment="HOME=/home/innovizta"
TimeoutStopSec=2

ExecStart=/bin/bash -c "sleep 15 && source /opt/ros/humble/setup.bash && source /home/innovizta/arm_ws/install/setup.bash && ros2 launch arm_pkg core.launch.py"

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
